body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  align-items: flex-start;

  min-height: 100vh;
  padding: 2rem;

  color: var(--Neutral-300);

  background-image:
    url(../images/pattern-lines.svg),
    url(../images/pattern-squiggly-line-top.svg),
    url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg),
    url(../images/background-mobile.png);
    /* linear-gradient(to bottom, hsl(248, 70%, 10%) 0%, hsl(248, 20%, 20%) 80%); */

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center, right top, bottom left, top left;
  background-size: auto, 25%, 25%, 100% auto;
}

#container {
  max-width: 375px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  text-align: center;
}

.logo {
  width: 120px;
  padding-bottom: 2rem;
}

.title {
  width: 80%;
  padding-block: 1.4rem;

  font: var(--text-lg-mobile);
  text-align: center;
}

.subtitle {
  width: 80%;
  padding: 1rem 0 1.5rem 0;

  font: var(--text-md);
  text-align: center;
}

#form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  max-width: 375px;
}

.upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1rem;

  font: var(--text-md);
  color: var(--Neutral-300);
}

.upload-wrapper > span,
.upload-wrapper > label {
  display: block;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  border: 2px dashed var(--Neutral-700);

  color: var(--Neutral-0);
  background-color: var(--Neutral-900);

  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.03);
  border-radius: 10px;

  cursor: pointer;
  transition: border-color 0.3 ease;
}

.upload-area:has(input:focus) {
  outline: 2px solid var(--Neutral-500);
  outline-offset: 4px;
}

.upload-area:hover {
  border-color: var(--Neutral-500);

  background-color: var(--Neutral-700);
}

.upload-icon {
  display: flex;
  align-items: center;
  justify-self: center;

  width: 48px;
  height: 48px;
  padding: 0.6rem;
  margin-bottom: 2rem;

  background-color: var(--Neutral-700);
  border-radius: 10px;
}

.upload-area:hover .upload-icon {
  border: 1px solid var(--Neutral-500);
  /* background-color: var(--Neutral-300); */
}

.upload-icon img {
  display: block;

  margin: auto;
  width: 24px;
  height: 24px;
}

.upload-text {
  font: var(--text-sm);
  text-align: center;

  opacity: 0.6;
}

.file-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1.9rem;

  font: var(--text-sm);
  color: var(--Neutral-500);
}

.file-info img {
  width: 15px;
}

.label {
  font: var(--text-md);
}

.input {
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  border: 2px solid var(--Neutral-700);

  font: var(--text-md);
  color: var(--Neutral-300);
  background-color: var(--Neutral-900);

  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.03);
  border-radius: 0.8rem;

  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.input:focus {
  outline: 2px solid var(--Neutral-500);
}

.input:hover {
  background-color: var(--Neutral-700);
}

.button {
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: none;

  font: var(--text-md-button);
  color: var(--Neutral-900);
  background-color: var(--Orange-700);
  border-radius: 0.8rem;

  opacity: 1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--Orange-500);
}

#ticket-section {
  display: none;
  width: 100%;
  max-width: 375px;
  padding-top: 2rem;

  text-align: center;
}