body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  min-height: 100vh;
  padding: 2rem;

  color: var(--Neutral-300);
  background-image:
    url(../images/pattern-lines.svg),
    url(../images/pattern-squiggly-line-top.svg),
    url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg),
    url(../images/pattern-circle.svg),
    url(../images/pattern-circle.svg),
    url(../images/background-mobile.png);
  background-repeat: no-repeat;
  background-position:
    center,
    right -10px top 20px,
    bottom -35px left -5px,
    top -30px left -30px,
    bottom 180px right -30px,
    top left;
  background-size: auto, 25%, 50%, 80px, 80px, cover;
}

#container,
#form-section, #ticket-section {
  max-width: 375px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.logo {
  width: 120px;
  padding-bottom: 2rem;
}

.title,
.subtitle {
  width: 80%;
  text-align: center;
}

.title,
.congrats {
  padding-block: 1.4rem;
  font: var(--text-lg-mobile);
}

.subtitle,
.confirmation-text {
  padding: 1rem 0 1.5rem 0;
  font: var(--text-md);
}

.upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font: var(--text-md);
}

#upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 2px dashed var(--Neutral-700);
  color: var(--Neutral-0);
  background-color: var(--Neutral-900);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

#upload-area:hover {
  border-color: var(--Neutral-500);
  background-color: var(--Neutral-700);
}

#upload-area.focused {
  outline: 2px solid var(--Neutral-500);
  outline-offset: 4px;
}

.upload-icon {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 48px;
  height: 48px;
  padding: 0.6rem;
  margin-bottom: 2rem;
  background-color: var(--Neutral-700);
  border-radius: 10px;
}

#upload-area:hover .upload-icon {
  border: 1px solid var(--Neutral-500);
}

#upload-area.dragover {
  border-color: var(--Orange-700);
  background-color: var(--Neutral-700);
}

.upload-icon img {
  display: block;
  margin: auto;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.upload-icon.user-uploaded img {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  object-fit: cover;
}

.upload-text {
  font: var(--text-sm);
  text-align: center;
  opacity: 0.6;
}

.upload-actions {
  display: flex;
  gap: 1rem;
}

.upload-actions button {
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: var(--Neutral-700);
  color: var(--Neutral-300);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.upload-actions button:hover {
  color: var(--Neutral-0);
  background-color: var(--Neutral-500);
}

#file-info,
#error-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.9rem;
  font: var(--text-sm);
  color: var(--Neutral-500);
}

#file-info img,
#error-message img {
  width: 15px;
}

.label {
  font: var(--text-md);
}

.input,
#button,
#back-button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
}

.input {
  margin: 0.5rem 0 1.5rem;
  border: 2px solid var(--Neutral-700);
  font: var(--text-md);
  color: var(--Neutral-300);
  background-color: var(--Neutral-900);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.03);
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.input.filled {
  color: var(--Neutral-0);
  background-color: var(--Neutral-700);
  border-color: var(--Neutral-500);
}

.input.filled::placeholder {
  color: transparent;
}

.input::placeholder {
  color: var(--Neutral-500);
  opacity: 1;
}

.input:hover {
  background-color: var(--Neutral-700);
}

.input:focus {
  outline: 2px solid var(--Neutral-500);
  outline-offset: 2px;
}

#error-message {
  display: none;
  color: var(--Orange-700);
  margin-top: -1rem;
}

#button,
#back-button {
  margin: 0.5rem 0 1.5rem;
  border: none;
  font: var(--text-md-button);
  color: var(--Neutral-900);
  background-color: var(--Orange-700);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#button:hover,
#back-button:hover {
  background-color: var(--Orange-500);
}

#ticket-section {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.congrats,
.confirmation-text {
  width: 75%;
}

#ticket-name {
  color: transparent;
  background-image: var(--Gradient-text);
  background-clip: text;
}

#ticket-email {
  color: var(--Orange-500);
}

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8rem;
  width: 100%;
  max-width: 360px;
  padding: 3.2rem 1.5rem;
  margin-block: 1rem;
  background-image: url(../images/pattern-ticket.svg);
  background-color: rgba(18, 18, 38, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.ticket::after {
  content: "#01609";
  position: absolute;
  right: 2rem;
  top: 50%;
  font: var(--text-md);
  color: var(--Neutral-300);
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: translateY(-50%);
  opacity: 0.6;
}

.ticket-conf {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.ticket-logo {
  width: 25px;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  width: 60%;
}

.conf-name {
  font: var(--text-ticket);
  align-items: flex-start;
}

.conf-date,
#ticket-github {
  font: var(--text-sm-ticket);
  opacity: 0.6;
}

.ticket-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#ticket-avatar {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.ticket-id {
  display: flex;
  flex-direction: column;
}

#full-name,
#ticket-name-id {
  align-self: flex-start;
}

#full-name {
  font: var(--text-md);
}

#ticket-name-id {
  font: var(--text-ticket);
}

.github {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.github img {
  width: 18px;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    background-image:
      url(../images/pattern-lines.svg),
      url(../images/pattern-squiggly-line-top.svg),
      url(../images/pattern-squiggly-line-bottom-mobile-tablet.svg),
      url(../images/pattern-circle.svg),
      url(../images/pattern-circle.svg),
      url(../images/background-tablet.png);
    background-position:
      center top,
      right -10px top 20px,
      bottom left,
      top -40px left -40px,
      center right 60px,
      top left;
    background-size: auto, 30%, 70%, 180px, 180px, cover;
  }

  .logo {
    width: 180px;
  }

  .title,
  .congrats {
    font: var(--text-lg-desktop);
  }

  .subtitle,
  .confirmation-text {
    font-size: clamp(1.4rem, 1.4rem + 1.666vw, 1.8rem);
  }

  .ticket {
    gap: 2rem;
    padding: 3.6rem 1.2rem;
  }

  #back-button {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image:
      url(../images/pattern-lines.svg),
      url(../images/pattern-squiggly-line-top.svg),
      url(../images/pattern-squiggly-line-bottom-desktop.svg),
      url(../images/pattern-circle.svg),
      url(../images/pattern-circle.svg),
      url(../images/background-desktop.png);

    background-position:
      center top,
      right top 30px,
      bottom left -60px,
      top -50px left 40px,
      center right 30%,
      top left;
    background-size: auto, 30%, 60%, 180px, 180px, cover;
  }

  #container,
  #form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container,
  #ticket-section {
    max-width: 768px;
    width: 100%;
  }

  .title,
  .subtitle,
  .congrats {
    width: 100%;
  }

  .title,
  .congrats {
    font-size: clamp(3rem, 3.4rem + 1.666vw, 4.9rem);
  }

  .confirmation-text {
    width: 50%;
  }

  #back-button {
    width: 50%;
  }
}